/*
JcsPhotoGallery project - http://www.dancioi.net/projects/jcsphotogallery
*/

body {
    background: none repeat scroll 0 0 #000000 !important;

}

.h1 {
	font-family:Georgia;
  	font-size: 2em;
  	font-weight: bold;
  	color: #777777;
  	margin: 20px 0px 20px;
  	text-align: center;
}

.gridCell-format {
  	padding: 3px;
  	background-image:url('ext/cellBackground.gif');
}

.gwt-PopupPanelGlass {
	background-color: #000;
  	z-index: 0;	
  	border: 0px;
}

.handOver {
    cursor                      :   hand;
    cursor                      :   pointer;
}

.popUpPanel {
	background-color: #C0C0C0;
}

.bottomPanel {
	background-color: #E0E0E0;
	position: relative;
}


.bottomLinks {
  	font-size: 0.75em;
  	text-align: center;
}

.topAlbumsTags {
    cursor                      :   hand;
    cursor                      :   pointer;
	border                      :   0px;
}
